body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}
* {
  font-family: 'Inter', system-ui;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);

  .header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &::after {
      content: '';
      display: block;
      height: 1px;
      background-color: #ccc;
      margin-top: 10px;
      width: 100%;
      position: absolute;
      bottom: -1px;
      left: 0;
    }
    img {
      position: relative;
      width: 20px;
      height: 20px;
      top: 7px;
      cursor: pointer;
    }
    h1 {
      margin: 0;
      font-size: 24px;
      text-decoration: none;
      color: #333;
    }
    .icons {
      display: flex;
      flex-direction: row;
      gap: 50px;

      span {
        position: relative;
        transform: translateY(6px);
        left: 0;
      }
    }
    .main-ico {
      position: relative;
      display: flex;
      gap: 20px;
      img {
        position: relative;
        width: 40px;
        height: 40px;
        transform: translateY(-9px);
      }
      a {
        text-decoration: none;
        color: #333;
      }
    }
  }

  .content {
    background-color: #ffffff;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;

    h1 {
      font-size: 35px;
      padding-left: 20px;
    }
    .buy {
      display: flex;
      .buyall {
        width: 100px;
        height: 25px;
        margin-top: 30px;
        margin-bottom: 15px;
        margin-left: 10px;
        padding: 13px;
        background-color: #ffffff;
        border: 1px solid #c0c0c0;
        border-radius: 20px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
        text-align: center;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
          color: #fff;
          background-color: #06ff59;
        }
      }
    }
    .sort {
      display: flex;
      justify-content: space-between;
      .categs {
        display: flex;
        .category {
          width: 100px;
          margin-bottom: 15px;
          margin-left: 10px;
          padding: 13px;
          background-color: #ffffff;
          border: 1px solid #c0c0c0;
          border-radius: 20px;
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
          text-align: center;
          transition: 0.5s;
          cursor: pointer;
          &:hover {
            color: #fff;
            background-color: #333;
          }
        }
        .active {
          color: #fff;
          background-color: #333;
        }
      }
      input {
        width: 300px;
        height: 20px;
        padding: 10px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 7px;
        font-size: 16px;
        color: #333;
        background-color: #fff;
        transition: 0.5s;
        position: relative;
        transform: translateY(3px);
        &:focus {
          outline: none;
          border-color: #848484;
          box-shadow: 0 0 5px #7a7a7a;
        }
      }
    }
    .cards {
      max-width: 1100px;
      margin: auto 10px;
      padding: 20px;
      background-color: #ffffff;
      border: 1px solid #c0c0c0;
      border-radius: 20px;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
      display: flex;
      flex-wrap: wrap;
      .loader-card-container {
        display: flex;
        margin: 10px;
        margin-left: 40px;
      }
      .nothing {
        display: flex; /* Используем flexbox для выравнивания */
        flex-direction: column; /* Вертикальное выравнивание */
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 300px;
        height: 200px;
        margin: auto;
        font-size: 20px;
        img {
          width: 60px;
        }
      }
    }
  }
}
